.CodeMirror-tooltip {
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	max-width: 15em;
	font-size: 12px;
	padding: 10px;
	/* border-radius: 5px; */
	background: #000;
	background: rgba(0,0,0,0.9);
}

.CodeMirror-tooltip__tail {
	position: absolute;
	width: 20px;
	height: 10px;
	margin: 0 -10px;
	top: 100%;
	left: 50%;
	overflow: hidden;
}

.CodeMirror-tooltip__tail:before {
	width: 10px;
	height: 10px;
	content: '';
	display: block;
	position: relative;
	margin: -5px auto;
	background: #000;
	background: rgba(0,0,0,0.9);
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* State of tooltip when it is positioned below the target  */
.CodeMirror-tooltip_below .CodeMirror-tooltip__tail {
	top: auto;
	bottom: 100%;
}

.CodeMirror-tooltip_below .CodeMirror-tooltip__tail:before {
	margin-top: 5px;
}